body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fb860075;
}

button {
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.293);
    font-size: 1.5em;
    background-color: white;
    transition: background-color 0.3s;
    transition: background 1s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.103);
}

#mainBox {
    width: 1146px;
    box-sizing: border-box;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    transition: background 0.5s;
}

#mainBox div {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    transition: background 0.2s;
}

buttons {
    display: flex;
}

h1 {
    display: inline;
    font-size: 2em;
}

span {
    border-radius: 10px;
    transition: background 1s;
}

footer {
    margin-top: auto;
}
