body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 20px 0px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 1.7em;
    background-color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.103);
}

#mainBox {
    width: 1150px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid black;
}

#mainBox div {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
}
